<div class="row text-light">
  <div class="col-sm-6">
    
  </div>
  <div class="col-sm-6">
    <div class="container" style="max-width: 400px">
      
      <form>
          <h3 class="text-center">Sign In</h3>
        <div class="form-group">
          <input type="email" class="form-control field text-dark" placeholder="email">
        </div>
        <div class="form-group">
          <input type="password" class="form-control field text-dark" placeholder="password">
        </div>
        <input type="submit" value="Sign In" class="btn btn-info btn-block field">
        <p class="text-center">Not a member? <a href="#">Register</a></p>
      </form>
      
    </div>
  </div>
</div>